.App {
    margin: 20px 0px 0px 20px;
}

.missionBox {
    float: left;
    margin: 10px;
}

.missionButton {
    background-color: white;
}

.missionCard {
    vertical-align: top;
    text-align: left;
    width: 500px;
}

.hidden {
    display: none;
}
.clear {
    clear: both;
}

#noMissionButton {
    margin-left: 10px;
    height: 100px;
    width: 1600px;
    background-color: white;
}